# Firebase Configuration for Finora
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBUMGG58uWySFO9QUhCgoV-ucnsHfp17Hc
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=finora-smart-expense-tracker.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=finora-smart-expense-tracker
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=finora-smart-expense-tracker.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=936462546533
EXPO_PUBLIC_FIREBASE_APP_ID=1:936462546533:web:8302424e422bfdc2a3b88c
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-XBYS9MGP8J
